<link rel="stylesheet" href="{{ 'gallery-section.css' | asset_url }}" media="print" onload="this.media='all'">

<section>
  <div class="container">
    <div class="row">
      <h5 class="gallery-heading">{{ section.settings.heading }}</h5>
      <p class="gallery-subheading">{{ section.settings.subheading }}</p>
      <div class="col-8">
        <div class="first-container">
          <div class="gallery-content text-section">
            <p class="gallery-text">{{ section.settings['gallery-text'] }}</p>
            <a href="{{ section.settings.button_link }}" class="subscribe">{{ section.settings.button_text }}</a>
          </div>
        </div>
        <div class="second-container"></div>
      </div>
      <div class="col-4">
        <div class="third-container"></div>
        <div class="fourth-container"></div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Gallery Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Title",
      "default": "Outdoor Fun Continues Each Month"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Outdoor Fun Continues Each Month"
    },
    {
      "type": "text",
      "id": "gallery-text",
      "label": "Text Section",
      "default": "Text!"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Subscribe!"
    },
    {
      "type": "image_picker",
      "id": "first-img",
      "label": "First image"
    },
    {
      "type": "image_picker",
      "id": "second-img",
      "label": "Second image"
    },
    {
      "type": "image_picker",
      "id": "third-img",
      "label": "Third image"
    },
    {
      "type": "image_picker",
      "id": "fourth-img",
      "label": "Fourth image"
    }
  ],
  "presets": [
    {
      "name": "Gallery Section",
      "category": "custom"
    }
  ]
}
{% endschema %}
