<link rel="stylesheet" href="{{ 'how-it-works-section.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<section class="how-it-works-section py-5">
  <div class="container">
    <h1 class=" how-it-works__title mb-5">{{ section.settings.title }}</h1>
    <div class="row">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div
              class="swiper-slide d-flex flex-column align-items-center"
              style="min-height: 600px; margin-right: -30px"
            >
              <div class="image-slider-wrapper">
                <img
                  src="{{ block.settings.box_image  | image_url }}"
                  width="360"
                  height="500"
                >
              </div>
              <div class="number {% if forloop.index == 1 %}first{% elsif forloop.index == 2 %}second{% elsif forloop.index == 3 %}third{% endif %}">
                {{ forloop.index }}
              </div>
              <div class="content">
                <h5 class="steps__box-title">{{ block.settings.box_title }}</h5>
                <p class="steps__box-text">{{ block.settings.box_text }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="first-swiper-button-next"></div>
        <div class="first-swiper-button-prev"></div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    setTimeout(function () {
      var swiper = new Swiper('.mySwiper', {
        slidesPerView: 1,
        spaceBetween: 30,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        breakpoints: {
          446: {
            slidesPerView: 1,
            initialSlide: 0,
          },
          768: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 3,
          },
        },
      });
    }, 300);
  });
</script>

{% schema %}
{
  "name": "How It Works",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "How it works"
    }
  ],
  "blocks": [
    {
      "type": "step_section",
      "name": "Step Section",
      "settings": [
        {
          "type": "image_picker",
          "id": "box_image",
          "label": "Step Image"
        },
        {
          "type": "text",
          "id": "box_title",
          "label": "Step 1",
          "default": "Step 1"
        },
        {
          "type": "text",
          "id": "box_text",
          "label": "Text",
          "default": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "How It Works Section"
    }
  ]
}
{% endschema %}
