<link rel="stylesheet" href="{{ 'welcome-box-section.css' | asset_url }}" media="print" onload="this.media='all'">

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h5 class="welcome-box-heading text-center">
          {{ section.settings.heading }}
          <img src="{{ 'stars.svg' | asset_url }}" alt="icon" class="stars-icon" width="10" height="10">
        </h5>
        <p class="welcome-box-text">{{ section.settings.text }}</p>
        <ul class="welcome-box-list list-unstyled">
          <li>
            <img src="{{ 'star.png' | asset_url }}" alt="icon" class="icon" width="10" height="10">
            {{- section.settings.list_item_1 }}
          </li>
          <li>
            <img src="{{ 'star.png' | asset_url }}" alt="icon" class="icon" width="10" height="10">
            {{ section.settings.list_item_1 }}
          </li>
          <li>
            <img src="{{ 'star.png' | asset_url }}" alt="icon" class="icon" width="10" height="10">
            {{ section.settings.list_item_1 }}
          </li>
          <li>
            <img src="{{ 'star.png' | asset_url }}" alt="icon" class="icon" width="10" height="10">
            {{ section.settings.list_item_1 }}
          </li>
        </ul>
        <a href="{{ section.settings.button_link }}" class="welcome-button">{{ section.settings.button_text }}</a>
      </div>
      <div class="col-sm">
        <img
          src="{{ section.settings.img | image_url }}"
          alt="{{ section.settings.img }}"
          class="img-fluid mb-3"
          width="6840"
          height="6450"
        >
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Welcome Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Title",
      "default": "Welcome!"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Section Text",
      "default": "Welcome Text!"
    },
    {
      "type": "text",
      "id": "list_item_1",
      "label": "List item 1",
      "default": "First item."
    },
    {
      "type": "text",
      "id": "list_item_2",
      "label": "List item 2",
      "default": "Second item."
    },
    {
      "type": "text",
      "id": "list_item_3",
      "label": "List item 3",
      "default": "Third item."
    },
    {
      "type": "text",
      "id": "list_item_4",
      "label": "List item 4",
      "default": "Fourth item."
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Click Me!"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Welcome Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
